<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <form method="POST" action="/buy">
            <label for="name">Имя:</label>
            <select id="name" name="name">
                {% for p in products %}
                    <option value="{{ p[0] }}">{{ p[0] }}</option>
                {% endfor %}
            </select><br>
            <label for="count">Количество:</label>
            <input type="number" id="count" name="count"><br>
            <button type="submit">Купить</button>
        </form>
    </body>
</html>